@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --font-display: mr-eaves-modern, sans-serif;
  --font-body: mr-eaves-modern, sans-serif;
  --color-aville: #a6c1ee;
  --color-mountain: #6392e6;
  --color-space: #392f5a;
  --color-midnight: #080705;
  --color-sun: #fbc2eb;
}
html {
  box-sizing: border-box;

  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-weight: 100;
  transition: 0.1s;

  transition-timing-function: ease-in-out;
}

h1,
h2 {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 100;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

.sun {
  width: 24rem;
  height: 24rem;
  margin-bottom: -3.2rem;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  clip-path: polygon(
    -50% 0px,
    150% -50%,
    150% 55%,
    -50% 55%,
    -50% 62%,
    150% 62%,
    150% 70%,
    0 70%,
    -50% 75%,
    150% 75%,
    150% 80%,
    0 80%,
    -50% 82%,
    150% 82%,
    150% 85%,
    0 85%,
    -50% 87%,
    150% 87%,
    150% 90%,
    0 90%
  );
}

.sun-sm {
  width: 5rem;
  height: 5rem;
}

.smooth-anim {
  transition: 0.15s;
  transition-timing-function: ease-in-out;
}

.sun-shadow {
  box-shadow: 0px 3px 20px -10px var(--color-sun);
}
